<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="big_admin" />
          
          <deny users="?"/>
          
          <deny roles="big_employee, big_little, big_volunteer"/>
          
        </authorization>
    </system.web>
</configuration>